## mjml-chart for [mjml](https://mjml.io/)

[![Build Status](https://img.shields.io/circleci/project/image-charts/mjml-chart.svg)](https://circleci.com/gh/image-charts/mjml-chart/) [![Coveralls branch](https://img.shields.io/coveralls/image-charts/mjml-chart/master.svg)](https://coveralls.io/github/image-charts/mjml-chart) [![Deps](https://img.shields.io/david/image-charts/mjml-chart.svg)](https://david-dm.org/image-charts/mjml-chart) [![NPM version](https://img.shields.io/npm/v/mjml-chart.svg)](http://badge.fury.io/js/mjml-chart)  [![Downloads](http://img.shields.io/npm/dm/mjml-chart.svg)](https://www.npmjs.com/package/mjml-chart) ![extra](https://img.shields.io/badge/actively%20maintained-yes-ff69b4.svg)

Displays charts as images in your email. Note that the chart can be animated (gif) when the `chan` attribute is specified.

#### 🎩 Usage


```xml
<mjml>
  <mj-body>
    <mj-container>
      <mj-section>
        <mj-column>
          <mj-chart chs="700x200" chd="s:theresadifferencebetweenknowingthepathandwalkingthepath" cht="bvs" chxt="y" chf="b0,lg,90,4CA4F5,0.1,C371D3,0.8,EA469E,1" />
        </mj-column>
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>
```

<p align="center">
  <a href="https://image-charts.com/documentation">
    <img src="https://image-charts.com/chart?cht=bvs&chd=s:theresadifferencebetweenknowingthepathandwalkingthepath&chs=700x200&chxt=y&chf=b0,lg,90,4CA4F5,0.1,C371D3,0.8,EA469E,1" />
  </a>
</p>

##### 🚀 Setup


- `mjml-chart` v5.x.x is built for *MJML4*:

```bash
npm install mjml-chart@5 --save
```

- `mjml-chart` v4.x.x is built for *MJML3*:

```bash
npm install mjml-chart@4 --save
```


##### 🚧 Documentation


{mdChartAttributesTable}


Since `mjml-chart` is a wrapper for `mjml-image`, `mjml-image` attributes are also available:

{mdImageAttributesTable}


Note:
- `src` attribute is not customizable, it's generated by `mjml-chart`
- `width` and `height` are automatically generated by `mjml-chart` based on the `chs` attribute
